.nav {
    width: 100%;
    margin: 0;
    background: linear-gradient(45deg, #ffffff, #f0f0f0, #d9d9d9); /* SlateGray */
    display: flex;
    justify-content: center;
    box-shadow: 0 0 4px #c4c4c4;
    z-index: 9999;
    position: sticky;
    top: 0;
}
.navbar-container {
    padding: 0 2em;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Spread brand and nav */
    align-items: center;
}
.nav .brand h1 img{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}
.navbar-container .brand h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
}
.navbar-container .brand span{
    font-size: .8rem;
    color: rgb(41, 99, 165);
}
.navbar-content {
    display: flex;
    align-items: center;
}
.navbar-content ul,
.navbar-middle ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: .1em;
}
.navbar-content ul li button,
.navbar-middle ul li button {
    border: none;
    background: none;
    color: rgb(57, 98, 161);
    font-size: 1.2em;
    cursor: pointer;
    padding: .8em;
    transition: background 0.3s;
}
.navbar-content ul li button:hover,
.navbar-middle ul li button:hover {
    background-color: rgba(63, 63, 63, 0.461);
    color: rgb(224, 133, 91);
    border-radius: 5px;
}
.nav-pro-img{
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
}
.nav .message-icon{
    width: 1em;
    height: 1em;
}

