.card{
    width: 100%;
    padding: 0em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    gap: .1em;
    background: #ffffffc1;
    border-radius: .5em;
    margin-top: .5em;
    cursor: pointer;
}
.card-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: start;
    align-items: start;
    text-align: start;
    padding: .5em;
}
.card-top .card-title {
    display: flex;
    flex-direction: column;
}
.card-top .card-title span{
    font-size: .7em;
    color: rgb(59, 58, 57);
}
.card-top img{
    width: 3em;
    height: 3em;
    border-radius: 50%;
}
.card-top .posted_at{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: 2em;
}
.card .card-content{
    text-align: justify;
    word-spacing: .01rem;
    color: #000000;
}

.card .card-content img{
    width: 100%;
    height: 20em;
}
.card-content .card-description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.read{
    transition: height .5s ease;
    padding: 1em;
}
.comment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5em;
}
.comment button{
    width: 50%;
    background: none;
    border: none;
    cursor: pointer;
}
.comment input{
    width: 75%;
    height: 100%;
    border: none;
    outline: none;
    padding: .4em;
}