.authenticate{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.authenticate .side-section{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 1;
}
.authenticate .side-section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f0f0f0f7;
    clip-path: polygon(0 50%, 50% 0%, 100% 100%);
    z-index: 0;
}
.authenticate h1{
    color: #536fcd;
    z-index: 2;
}
.side-section img{
    width: 10em;
    height: 10em;
    z-index: inherit;
}.side-section span{
    z-index: inherit;
}
.authenticate .container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background: #64a3f4;
}
.authenticate .container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c539a;
    clip-path: polygon(100% 100%,0% 50%,0% 50%);
    z-index: 0;
}
.authenticate .container .header{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.authenticate .header .button{
    width: 50%;
    padding: .5em;
    background: none;
    border-radius: .5em;
    font-weight: 600;
    cursor: pointer;
    color: #efefef;
    border: 1px solid #ffffff;
}
.header .button:hover{
    background: #fff;
    color: #405ec0;
}
.button.active{
    background: #8dd0d8;
}