.authenticate{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.authenticate .side-section{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.authenticate h1{
    color: #536fcd;
}
.side-section img{
    width: 10em;
    height: 10em;
}
.authenticate .container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background: #64a3f4;
}
.authenticate .container .header{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.authenticate .header .button{
    width: 50%;
    padding: .5em;
    background: none;
    border-radius: .5em;
    font-weight: 600;
    cursor: pointer;
    color: #46f740;
    border: 1px solid #3fdd39;
}
.header .button:hover{
    background: #fff;
    color: #405ec0;
}
.button.active{
    background: #8dd0d8;
}