.login-container{
    height: 50%;
    width: 100%;
    text-align: center;
}
.login-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.login-container input{
    width: 40%;
    padding: .5em;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    border-bottom: 1px solid #d7a57e;
}
.login-container input::placeholder{
    color: aliceblue;
}
.login-container button{
    border: none;
    color: #fff;
    background: none;
    border-radius: .5em;
    cursor: pointer;
    padding: .6em;
    width: 42%;
}
.login-container button:hover{
    background: #fff;
    color: blue;
}