.login-container{
    height: 50%;
    width: 100%;
    text-align: center;
}
.login-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.login-container input{
    width: 40%;
    padding: .5em;
    border: none;
    background: none;
    outline: none;
    color: #1a1a1a;
    border-bottom: 1px solid #d7a57e;
}
.login-container input::placeholder{
    color: rgba(22, 22, 22, 0.788);
}
.login-container button{
    border: none;
    color: #2bb5d7;
    background: none;
    border-radius: .5em;
    cursor: pointer;
    padding: .6em;
    width: 42%;
    transition: all .5s ease;
}
.login-container button:hover, .active{
    background: #7adec0;
    color: blue;
}