.home-left-container{
    margin: 0;
    padding: 0;
}
.home-left-container ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 1em;
    margin-left: -1.2em;
}
.home-left-container ul li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}
.home-left-container ul li button{
    border: none;
    background: none;
    font-size: 1.1rem;
    cursor: pointer;
}
.home-left-container ul li button .link{
    text-decoration: none;
}
.home-left-container ul li button .link span{
    font-size: 1.5rem;
}