.home-left-top{
    width: 90%;
    height: 2em;
    margin-left: 1em;
}
.home-left-top-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5em;
    padding: .5em;
    border-radius: 2rem;
    background: #fff;
    border: 1px solid #fff;
}
.home-left-top .home-left-top-pro-img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
}
.home-left-search,
.home-left-search:active,
.home-left-search:checked{
    width: 90%;
    border: none;
    background: none;
    font-size: 1.1rem;
    outline: none;
    color: #4b7ac7;
}
.home-left-search::placeholder{
    color: #333a73;
}