.home-feed{
    width: 100%;
    margin: 0;
    padding: 0;
}
.home-feed .sections{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    text-align: center;
    gap: 1.5em;
}
.home-feed .sections .section-left,
.home-feed .section-right{
    position: sticky;
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: .5em;
    scroll-behavior: smooth;
}
.home-feed .section-right{
    top: 5em;
    background: rgba(255, 255, 255, 0.578);
}
.home-feed .sections .section-left{
    position: sticky;
    top: 3.5em;

}
.home-feed .section-middle{
    width: 45%;
    height: 100%;
    display: flex;
    position: sticky;
    top: 0;
    padding-bottom: 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.section-right .section-left-top{
    width: 100%;
    height: 5%;
    color: aquamarine;
}
.section-left-bottom{
    width: 100%;
    height: 80%;
}
