.home-post{
    width: 95%;
    height: 10%;
    margin-top: 0em;
    color: rgba(233, 233, 233, 0.916);
    padding-top: .13em;
    margin-left: 1em;
    background: #4f70db;
}
.home-post .post-container form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1em;
    padding: 2em;
    border-radius: .5em;
    color: #374777;
    background: #f6f6f6;
    box-shadow: 0 0 8px #aac7e9;
}
.home-post form .post-input{
    width: 95%;
    background: none;
    border: none;
    outline: none;
    color: #24468f;
    border-bottom: 1px solid #7aa5d5;
}
.post-input::placeholder{
    color: #365681;
}
.home-post button{
    cursor: pointer;
    background: none;
    border: 1px solid #7aa5d5;
    border-radius: .5em;
    padding: .5em;
    color: #7aa5d5;
}
.home-post button:hover{
    background-color: #7aa5d5;
    color: rgb(240, 240, 240);
}

